* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  padding: 30px 0 20px 0;
}

.question-group {
  padding: 20px 0 20px 0;
}

.question {
  padding: 20px 0 20px 0;
}

/* Question 1 */

.multiple-choice-btn {
  display: flex;
  flex-direction: column;
}

.multiple-choice-btn div {
  margin: 10px 0;
  width: 75%;
  border-radius: 10px;
  position: relative;
}

.multiple-choice-btn div label {
  padding: 10px;
  padding-left: 35px;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 10px;
}

.multiple-choice-btn div input {
  position: absolute;
  top: 30%;
  left: 2%;
  color: transparent;
}

.multiple-choice-btn div input:after {
  content: " ";
  position: relative;
  width: 13px;
  height: 13px;
  left: -1px;
  border: 1px solid black;
  border-radius: 30%;
  background-color: #fff;
  display: inline-block;
}

.multiple-choice-btn div input:checked:after {
  background-color: #01a982;
  border-color: #01a982;
}

.multiple-choice-btn div input:checked ~ label {
  background: #ffdc9e;
  border-color: #ffdc9e;
}

/* Question 2 */

textarea {
  width: 75%;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  font-size: 16px;
  outline-color: #ffdc9e;
}

/* Question 3 */

/* Responsive */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
