* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  margin-bottom: 70px;
}

.title {
  text-align: center;
  padding: 30px 0 20px 0;
}

.question-group {
  padding: 20px 0 10px 0;
}

.question {
  padding: 20px 0 20px 0;
}

/* Question 1 */

.multiple-choice-btn {
  display: flex;
  flex-direction: column;
}

.multiple-choice-btn div {
  width: 75%;
  border-radius: 10px;
  position: relative;
}

.multiple-choice-btn div label {
  padding: 10px;
  padding-left: 35px;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 10px;
}

.multiple-choice-btn div input {
  position: absolute;
  top: 25%;
  left: 2%;
  color: transparent;
  visibility: hidden;
}

.multiple-choice-btn div input:after {
  content: " ";
  position: relative;
  width: 15px;
  height: 15px;
  left: -1px;
  border: 1px solid black;
  border-radius: 30%;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
}

.multiple-choice-btn div input:checked:after {
  background-color: #01a982;
  border-color: #01a982;
}

.multiple-choice-btn div input:checked ~ label {
  background: #ffdc9e;
  border-color: #ffdc9e;
}

/* Question 2 */

textarea {
  width: 75%;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

/* Question 3 */

.file-btn-group {
  position: relative;
  padding-top: 10px;
}

.file-btn-group input[type="file"] {
  position: absolute;
  outline: none;
  /* z-index: -1; */
  display: none;
  left: 5px;
}

.file-btn-group label {
  cursor: pointer;
  background-color: #ffdc9e;
  padding: 8px 16px;
  border-radius: 10px;
  transition: all 0.2s;
}

.file-btn-group label:hover {
  background-color: #ffcd74;
}

/* Submit button */

.submit-btn {
  margin-top: 40px;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #01a982;
  border-color: #01a982;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.submit-btn:hover {
  /* darken */
  background-color: #009874;
}

/* Responsive */
@media (max-width: 768px) {
  .multiple-choice-btn div {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
