* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.title {
  text-align: center;
  padding: 30px 0 20px 0;
}

.question-group {
  padding: 20px 0 20px 0;
}

.question {
  padding: 20px 0 20px 0;
}

.multiple-choice-btn {
  display: flex;
  flex-direction: column;
}

.multiple-choice-btn div {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  width: 75%;
}

.multiple-choice-btn div input:checked {
  color: green;
}

/* Responsive */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
